extends layout

block content
    // The user must be connected to access the page.
    if username
        section(ng-controller="SwiperController" ng-init='accessToken = "#{accessToken}"; applicationUrl = "#{applicationUrl}"')
            h1.title(ng-class='{"title-small": numberOfPictures > 0}') #{title}
            
            .header(ng-class='{"header-small": numberOfPictures > 0}')
                .connected-content
                    .input-group.hashtag-input-group
                        span.input-group-addon #
                        input.form-control#hashtagInput(name='hashtag' ng-model='hashtag' ng-keyup='validateHashtag($event)' placeholder='Please enter a hashtag (e.g. "#pizza" or just "pizza")...' type='text')
                        .input-group-btn
                            button.btn.btn-swipe-me.btn-show-pics#btnShowPics(data-toggle='tooltip' data-placement='bottom' ng-click='showPics()' ng-disabled='showPicsButtonDisabled' title='Let me show you pictures related to the tags you entered. You can either like or reject them as your convinence!') {{showPicsButtonLabel}}
                    .panel.panel-danger.error-hashtag(ng-if='errorhashtag')
                        .panel-heading.error-content
                            {{errorhashtag}}
                    .result-information(ng-class='{"result-information-final": numberOfPictures}' ng-if='numberOfMedia && numberOfPictures')
                        | There is {{numberOfMedia}} existing media for 
                        strong \#{{hashtagName}}
                        span(ng-if='numberOfPictures >= 0') , including 
                            strong {{numberOfPictures}}
                            |  public one(s)
                        | .
                    .result-information(ng-class='{"result-information-final": numberOfMedia === 0}' ng-if='numberOfMedia === 0')
                        | Sorry there is no result for 
                        strong \#{{hashtagName}}
                        | ...
                        
            img.swiper-logo#logo(src='/img/logo-no-text.png')
                        
            section.pictures#pictures
                .picture-wrapper(id='picture{{$index + firstDisplayedPictureIndex}}' ng-class='{"picture-wrapper-liked": pic.isPictureLiked, "picture-wrapper-rejected": pic.isPictureRejected}' ng-repeat='pic in pictures | limitTo: numberMaxPictures : firstDisplayedPictureIndex' ng-style='{"z-index": (numberOfPictures - $index)}')
                    img.paperclip(ng-class='{"paperclip-transparent": pic.isMouseOverPicture || pic.isMouseOverNote}' src='/img/paperclip.png')
                    .note(ng-class='{"note-transparent": pic.isMouseOverPicture}' ng-mouseleave='pic.isMouseOverNote = false' ng-mouseover='pic.isMouseOverNote = true')
                        .hashtags-section
                            {{pic.description}}
                        .author-section
                            hr.note-separation
                            strong 
                                | Author: 
                                a(href='https://www.instagram.com/{{pic.username}}/' target='_blank') {{pic.username}}
                    a(href='{{pic.url}}' target='_blank')
                        img.picture(alt='{{pic.description}}' ng-mouseleave='pic.isMouseOverPicture = false' ng-mouseover='pic.isMouseOverPicture = true' ng-src='{{pic.pictureUrl}}')
                    .picture-buttons
                        .reject-button(data-toggle='tooltip' data-placement='top' id='reject-button{{$index + firstDisplayedPictureIndex}}' ng-click='reject()' title="Meh, I dont like it.")
                        span.arrows-info
                            | Press 
                            span.glyphicon.glyphicon-arrow-left
                            |  or 
                            span.glyphicon.glyphicon-arrow-right
                            |  keys to quickly make a choice.
                        .like-button(data-toggle='tooltip' data-placement='top' id='like-button{{$index + firstDisplayedPictureIndex}}' ng-class='{"like-button-active": pic.isPictureLiked || pic.alreadyLiked || currentPictureInLikeRequest}' ng-click='like()' title='Amazing, take my like!')
                .message-no-more-picture(ng-class='{"message-no-more-picture-visible": hashtagCopy}')
                    | Wow you just browsed all available pictures for \#{{hashtagCopy}}!
                    br
                    | Please type a new hashtag in the input.
